<div class="page-aside">
    <div class="page-aside-switch">
        <i class="icon md-chevron-left"></i>
        <i class="icon md-chevron-right"></i>
    </div>

    <div class="page-aside-inner page-aside-scroll">
        <div data-role="container">
            <div data-role="content">
                <section class="page-aside-section">
                    <h5 class="page-aside-title">Settings</h5>
                    <div class="list-group">
                        <a class="list-group-item" href="/dashboard/settings/account"><i class="site-menu-icon md-account-box"></i><span class="m-l-3">Account</span></a>
                        <a class="list-group-item" href="/dashboard/settings/team"><i class="site-menu-icon md-accounts"></i><span class="m-l-3">Team</span></a>
                        <a class="list-group-item" href="/dashboard/settings/plan"><i class="site-menu-icon md-lock"></i><span class="m-l-3">Billing</span></a>
                        <a class="list-group-item" href="/dashboard/settings/audit"><i class="site-menu-icon md-scanner"></i><span class="m-l-3">Audit</span></a>
                        <a class="list-group-item" href="/dashboard/settings/dictionaries"><i class="site-menu-icon md-tag-more"></i><span class="m-l-3">Dictionaries</span></a>
                        <a class="list-group-item" href="/dashboard/settings/apps"><i class="site-menu-icon md-apps"></i><span class="m-l-3">Apps</span></a>
                        <a class="list-group-item" href="/dashboard/settings/plugins"><i class="site-menu-icon md-code"></i><span class="m-l-3">Plugins</span></a>
                        <a class="list-group-item" href="/dashboard/settings/widgets"><i class="site-menu-icon md-widgets"></i><span class="m-l-3">Widgets</span></a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
