<% include ../html/html_begin %>
<% include ../html/head_begin %>
  <meta name="description" content="bootstrap admin template">
  <title>Dashboard</title>
  <link rel = "stylesheet" href = "/assets/examples/css/dashboard/v1.css">
  <link rel = "stylesheet" href = "/css/dashboard/index.css">
<% include ../html/head_end %>

<% include ../html/body_begin %>
  <% include ../components/navbar %>
  <% include ../components/site_menubar %>
  <% include ../components/site_gridmenu %>
  <!-- Page -->
  <div class="page">
      <div class="page-content container-fluid">

          <div class="row app-container">

            <div class="col-xs-12 m-t-40">
  							<div class="bg-light-blue-a400">
  									<div class="row">
  										<div class="col-xs-12">
                        <h3>
                          <p class="grey-50" style="width:100%;text-align:center !important;">
                            Add other Apps
                          </p>
                        </h3>
  										</div>
                    </div>
  							</div>
  					</div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 m-t-40 app-item">
  							<div class="bg-yellow-a400">
  									<div class="row">
  										<div class="col-xs-12 m-t-40 m-b-40">
                        <h3>
                          <p class="grey-50" style="width:100%;text-align:center !important;">
                              <i class="grey-50 fa fa-3x fa-archive"></i>
                          </p>
                          <p class="grey-50" style="width:100%;text-align:center !important;">
                            <span class="text-center" data-i18n="n.locations">Blogs/Websites</span>
                          </p>
                        </h3>
  										</div>
                    </div>
                    <div class="row">
  										<div class="col-xs-12">
  												<a
  													href="#"
  													class="btn btn-block waves-effect waves-light bg-light-blue-800 grey-50">
                            Search Blogs/Websites
                            <span class="btn-label pull-right"><i class="fa fa-arrow-right"></i></span>
                          </a>
  										</div>
  									</div>
  							</div>
  					</div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 m-t-40 app-item">
                <div class="bg-yellow-a400">
                    <div class="row">
                      <div class="col-xs-12 m-t-40 m-b-40">
                        <h3>
                          <p class="grey-50" style="width:100%;text-align:center !important;">
                              <i class="grey-50 fa fa-3x fa-rss"></i>
                          </p>
                          <p class="grey-50" style="width:100%;text-align:center !important;">
                            <span class="text-center" data-i18n="n.locations">News</span>
                          </p>
                        </h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                          <a
                            href="#"
                            class="btn btn-block waves-effect waves-light bg-light-blue-800 grey-50">
                            Search News
                            <span class="btn-label pull-right"><i class="fa fa-arrow-right"></i></span>
                          </a>
                      </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 m-t-40 app-item">
                <div class="bg-yellow-a400">
                    <div class="row">
                      <div class="col-xs-12 m-t-40 m-b-40">
                        <h3>
                          <p class="grey-50" style="width:100%;text-align:center !important;">
                              <i class="grey-50 fa fa-3x fa-user-secret"></i>
                          </p>
                          <p class="grey-50" style="width:100%;text-align:center !important;">
                            <span class="text-center" data-i18n="n.locations">Darkweb</span>
                          </p>
                        </h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                          <a
                            href="#"
                            class="btn btn-block waves-effect waves-light bg-light-blue-800 grey-50">
                            Search Darkweb
                            <span class="btn-label pull-right"><i class="fa fa-arrow-right"></i></span>
                          </a>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 m-t-40 app-item">
                <div class="bg-yellow-a400">
                    <div class="row">
                      <div class="col-xs-12 m-t-40 m-b-40">
                        <h3>
                          <p class="grey-50" style="width:100%;text-align:center !important;">
                              <i class="grey-50 fa fa-3x fa-venus-double"></i>
                          </p>
                          <p class="grey-50" style="width:100%;text-align:center !important;">
                            <span class="text-center" data-i18n="n.locations">Impersonations</span>
                          </p>
                        </h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                          <a
                            href="#"
                            class="btn btn-block waves-effect waves-light bg-light-blue-800 grey-50">
                            Search Account Impersonations
                            <span class="btn-label pull-right"><i class="fa fa-arrow-right"></i></span>
                          </a>
                      </div>
                    </div>
                </div>
            </div>

      </div>


  </div>
  <!-- End Page -->
<% include ../html/body_end %>

<script src = "/js/dashboard/index.js"></script>

<% include ../html/html_end %>
