<div class="site-gridmenu">
  <div>
    <div>
      <ul>
        <li>
          <a href="/">
            <i class="icon md-home"></i>
            <span>Home</span>
          </a>
        </li>
        <li>
          <a href="/dashboard">
            <i class="icon md-view-dashboard"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/dashboard/settings/account">
            <i class="icon md-wrench"></i>
            <span>Settings</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
