<div class="tab-pane" id="tab_sharing_permissions" role="tabpanel">
    <div class = "panel">
        <div class = "panel-body container-fluid">
            <div class = "col-xs-12 col-lg-8">
                <div class = "row">
                    <h4> Groups </h4>
                    <table class="table is-indent" data-plugin="animateList" data-animate="fade" data-child="tr"
                        data-selectable="selectable">
                        <tbody>
                            <tr>
                                <td class="pre-cell"></td>
                                <td class="cell-60 responsive-hide">
                                <a class="avatar" href="javascript:void(0)">
                                    <img class="img-fluid" src="../../../assets/portraits/3.jpg" alt="">
                                </a>
                                </td>
                                <td>
                                    <div class="content">
                                        <div class="title">You<div class="flags responsive-hide">
                                        </div>
                                        </div>
                                        <div class="metas">
                                        <span class="author">@karthik</span>
                                        <span class="started">karthink@gmail.com</span>
                                        
                                        </div>
                                    </div>
                                </td>
                                <td class="cell-120 forum-posts">
                                    <p>  </p>
                                    <p> Primary Owner </p>
                                </td>
                                <td class="suf-cell"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class = "row">
                    <h4> Team Members </h4>
                    <table class="table is-indent" data-plugin="animateList" data-animate="fade" data-child="tr"
                        data-selectable="selectable">
                        <tbody>
                            <tr>
                                <td class="pre-cell"></td>
                                <td class="cell-60 responsive-hide">
                                <a class="avatar" href="javascript:void(0)">
                                    <img class="img-fluid" src="../../../assets/portraits/3.jpg" alt="">
                                </a>
                                </td>
                                <td>
                                    <div class="content">
                                        <div class="title">First Last<div class="flags responsive-hide">
                                        </div>
                                        </div>
                                        <div class="metas">
                                        <span class="author">@username</span>
                                        <span class="started">email@gmail.com</span>
                                        
                                        </div>
                                    </div>
                                </td>
                                <td class="cell-40 forum-posts">
                                    <button type="button" class="btn btn-block btn-default">...</button>
                                </td>
                                <td class="suf-cell"></td>
                            </tr>
                            <tr>
                                <td class="pre-cell"></td>
                                <td class="cell-60 responsive-hide">
                                <a class="avatar" href="javascript:void(0)">
                                    <img class="img-fluid" src="../../../assets/portraits/3.jpg" alt="">
                                </a>
                                </td>
                                <td>
                                    <div class="content">
                                        <div class="title">First Last<div class="flags responsive-hide">
                                        </div>
                                        </div>
                                        <div class="metas">
                                        <span class="author">@username</span>
                                        <span class="started">email@gmail.com</span>
                                        
                                        </div>
                                    </div>
                                </td>
                                <td class="cell-40 forum-posts">
                                    <button type="button" class="btn btn-block btn-default">...</button>
                                </td>
                                <td class="suf-cell"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>    
            </div>
            <div class = "col-xs-12 col-lg-2">
                <button type="button" class="btn btn-primary waves-effect"><i class="icon icon md-plus"></i>Invite New Members</button>
                <p></p>
                <button type="button" class="btn waves-effect"><i class="icon icon md-plus"></i> Create a Group</button>
            </div>
        </div>
    </div>
</div>