.hero {
  color: #76838f;
}

.hero h1 {
  color: #37474f;
}

.hero a {
  position: relative;
  display: inline-block;
  font-size: 20px;
  color: #37474f;
}

.hero a:before {
  position: absolute;
  top: 12px;
  left: -20px;
  width: 8px;
  height: 8px;
  content: '';
  background-color: #62a8ea;
  border-radius: 50%;
}
