.inline-row {
    a {
        display: none;
    }
    h4, h5, p {
        display: inline;
    }
    
    &:hover {
        a {
            display: inline;
            cursor: pointer;
        }
        p, h4, h5 {
            text-decoration: underline;
            color: blue;
            cursor: pointer;
        }
    }
}