.widget-preview {
  border: 1px;
  border-style: solid;
  border-color: #8fbc8f;
  padding: 5px;
}

select.form-control {
  height: 36px !important;
}

.label-general-properties {
  font-weight: 300 !important;
}
