<% include ../html/html_begin %>
<% include ../html/head_begin %>
  <meta name="description" content="Keyword based monitoring">
  <link rel="stylesheet" href="/css/index.css">
  <title>Keyword based monitoring</title>
<% include ../html/head_end %>
<% include ../html/body_begin %>

<% include ../home/components/navbar %>
<% include ../home/components/menubar %>

  <div class="site-body">


    <!-- Hero -->
    <section class="site-hero hero hero-light padding-top-80"
    style="background-image:url(/img/home/features-keyword-monitoring.jpg)">
      <div class="container">
        <div class="content">
          <h1>Keyword based monitoring</h1>
          <h3 class="white">Monitor social media, blogs, deep and dark web</h3>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <!-- Feature -->
    <section class="section section-feature bg-cyan-300 text-center">
      <div class="container container-fluid">
        <p class="section-title white">Globalize your intelligence
          with a keyword search engine that processes and prioritizes
          data from anywhere in the world for broader business and
          security insights.</p>
      </div>
    </section>
    <!-- End Feature -->

    <section class="section">
      <div class="container">

        <div class="row">
          <div class="col-lg-5 col-md-6 col-sm-12">
            <h3 class="section-title">Define</h3>
            <p class="section-desc">Search any keyword to pull
              the most important information on any subject from around the
              globe and begin monitoring for threats, regardless of their point of origin.
            </p>
          </div>
          <div class="col-lg-offset-1 col-md-6 col-sm-12 hidden-xs">
            <img src="/img/home/features-km-1.jpg" alt="">
           </div>
        </div>

      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-12 pull-right">
            <h3 class="section-title">Refine</h3>
            <p class="section-desc">Customize <%= appdata.product %>'s search
              logic with filters and parameters to refine your data, cut
              through the noise, and deliver precise, targeted threat analysis.
            </p>
           </div>
          <div class="col-md-6 col-sm-12 pull-left hidden-xs">
            <img src="/img/home/features-km-2.jpg" alt="" class="pull-right">
           </div>
         </div>
       </div>
     </section>

     <section class="section">
       <div class="container">

         <div class="row">
           <div class="col-lg-5 col-md-6 col-sm-12">
             <h3 class="section-title">Empower</h3>
             <p class="section-desc">View breakdowns of <%= appdata.product %>'s
               analysis reports in a crisp, easy to use analytics dashboard
               that can pinpoint threats, reveal global data trends, and
               identify opportunities to maximize your brand’s online performance.
             </p>
           </div>
           <div class="col-lg-offset-1 col-md-6 col-sm-12 hidden-xs">
             <img src="/img/home/features-km-3.jpg" alt="">
            </div>
         </div>

       </div>
     </section>

     <% include ../home/components/request_demo %>
     <% include ../home/components/request_case_study %>

  </div>

<% include ../home/components/footer_home %>
<% include ../home/components/contact_form %>

<script src="/js/global/global.js"></script>
<script src="/js/index.js"></script>
<% include ../html/body_end %>
<% include ../html/html_end %>
