<% include ../html/html_begin %>
<% include ../html/head_begin %>
  <meta name="description" content="TrueID">
  <link rel="stylesheet" href="/css/index.css">
  <title>TrueID</title>
<% include ../html/head_end %>
<% include ../html/body_begin %>

<% include ../home/components/navbar %>
<% include ../home/components/menubar %>

  <div class="site-body">


    <!-- Hero -->
    <section class="site-hero hero hero-light padding-top-80"
    style="background-image:url(/img/home/features-trueid.jpg)">
      <div class="container">
        <div class="content">
          <h1>TrueID</h1>
          <h3 class="white">Know real online identies</h3>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <!-- Feature -->
    <section class="section section-feature section-primary text-center">
      <div class="container container-fluid">
        <p class="section-title">Verify user identities
          online with <%= appdata.product %>’s advanced account investigation
          tools to take action against anonymous threats  </p>
      </div>
    </section>
    <!-- End Feature -->

    <section class="section">
      <div class="container">

        <div class="row">
          <div class="col-lg-5 col-md-6 col-sm-12">
            <h3 class="section-title">Network</h3>
            <p class="section-desc">Identify connected channels
              and accounts to flag suspicious activity and protect your organization from scamming.
            </p>
          </div>
          <div class="col-lg-offset-1 col-md-6 col-sm-12 hidden-xs">
            <img src="/img/home/features-trueid-1.jpg" alt="">
           </div>
        </div>

      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-12 pull-right">
            <h3 class="section-title">Trace</h3>
            <p class="section-desc">Identify the owner of an account
              or handle to defend against impersonators and reveal the origins of anonymous threats.
            </p>
           </div>
          <div class="col-md-6 col-sm-12 pull-left hidden-xs">
            <img src="/img/home/features-trueid-2.jpg" alt="" class="pull-right">
           </div>
         </div>
       </div>
     </section>

     <section class="section">
       <div class="container">

         <div class="row">
           <div class="col-lg-5 col-md-6 col-sm-12">
             <h3 class="section-title">Verify</h3>
             <p class="section-desc">View breakdowns of
               connections’ offline identities to ensure that only the right
               people gain access to sensitive information.
             </p>
           </div>
           <div class="col-lg-offset-1 col-md-6 col-sm-12 hidden-xs">
             <img src="/img/home/features-trueid-3.jpg" alt="">
            </div>
         </div>

       </div>
     </section>

     <% include ../home/components/request_demo %>
     <% include ../home/components/request_case_study %>

  </div>

<% include ../home/components/footer_home %>
<% include ../home/components/contact_form %>

<script src="/js/global/global.js"></script>
<script src="/js/index.js"></script>
<% include ../html/body_end %>
<% include ../html/html_end %>
