<% include ../html/html_begin %>
<% include ../html/head_begin %>
  <meta name="description" content="Location based monitoring">
  <link rel="stylesheet" href="/css/index.css">
  <title>Keyword based monitoring</title>
<% include ../html/head_end %>
<% include ../html/body_begin %>

<% include ../home/components/navbar %>
<% include ../home/components/menubar %>

  <div class="site-body">


    <!-- Hero -->
    <section class="site-hero hero hero-light padding-top-80"
    style="background-image:url(/img/home/features-location-monitoring.jpg)">
      <div class="container">
        <div class="content">
          <h1>Location based monitoring</h1>
          <h3 class="white">Monitor social media, blogs, deep and dark web</h3>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <!-- Feature -->
    <section class="section section-feature bg-green-300 text-center">
      <div class="container container-fluid">
        <p class="section-title white">Localize your intelligence
          with customizable monitoring perimeters that pull outgoing data
          from specific sites and analyze it for threat potential and
          data security breaches.</p>
      </div>
    </section>
    <!-- End Feature -->

    <section class="section">
      <div class="container">

        <div class="row">
          <div class="col-lg-5 col-md-6 col-sm-12">
            <h3 class="section-title">Map</h3>
            <p class="section-desc">Geofence monitoring perimeters around
              events, data centers, and worksite to capture and scan outgoing
              information and detect security breaches.</p>
          </div>
          <div class="col-lg-offset-1 col-md-6 col-sm-12 hidden-xs">
            <img src="/img/home/features-lm-1.jpg" alt="">
           </div>
        </div>

      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-12 pull-right">
            <h3 class="section-title">Monitor</h3>
            <p class="section-desc">Use sentiment analysis and customizable
              filters to refine the data <%= appdata.product %> mines into clear, concise threat analysis
              reports that capture exactly what you need to see.
            </p>
           </div>
          <div class="col-md-6 col-sm-12 pull-left hidden-xs">
            <img src="/img/home/features-lm-2.jpg" alt="" class="pull-right">
           </div>
         </div>
       </div>
     </section>

     <section class="section">
       <div class="container">

         <div class="row">
           <div class="col-lg-5 col-md-6 col-sm-12">
             <h3 class="section-title">Visualize</h3>
             <p class="section-desc">Compile social data in real time to
               construct a map of an incident’s progress and spatially track public
               engagement with a crisis.
             </p>
           </div>
           <div class="col-lg-offset-1 col-md-6 col-sm-12 hidden-xs">
             <img src="/img/home/features-lm-3.jpg" alt="">
            </div>
         </div>

       </div>
     </section>

     <% include ../home/components/request_demo %>
     <% include ../home/components/request_case_study %>

  </div>

<% include ../home/components/footer_home %>
<% include ../home/components/contact_form %>

<script src="/js/global/global.js"></script>
<script src="/js/index.js"></script>
<% include ../html/body_end %>
<% include ../html/html_end %>
