<% include ../html/html_begin %>
<% include ../html/head_begin %>
  <meta name="description" content="Corporate Security Solutions by <%= appdata.product %> Digital Risk Management">
  <link rel="stylesheet" href="/css/index.css">
  <title>Corporate Security Solutions by <%= appdata.product %> Digital Risk Management</title>
<% include ../html/head_end %>
<% include ../html/body_begin %>

<% include ../home/components/navbar %>
<% include ../home/components/menubar %>

  <div class="site-body">


    <!-- Hero -->
    <section class="site-hero hero hero-light padding-top-80"
    style="background-image:url(/img/home/industry-corporate-security.jpg)">
      <div class="container">
        <div class="content">
          <h1><%= appdata.product %> for corporate security</h1>
          <h3 class="white">Stop threats before they happen</h3>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <!-- Feature -->
    <section class="section section-feature text-center">
      <div class="container container-fluid">
        <p class="section-desc text-left font-size-24">Protect your company from all 'outside the perimeter' digital
          threats and protect your assets, personnel and brand image.
        </p>
      </div>
    </section>
    <!-- End Feature -->


    <!-- Feature -->
    <section class="section section-feature section-small text-center bg-cyan-300">
      <div class="container container-fluid">
        <div class="row feature-group">
          <div class="col-sm-12 col-md-4 iconbox iconbox-left">
            <i class="icon iconbox-icon wb-cloud"></i>
            <div class="iconbox-content">
              <h4 class="iconbox-title grey-900">Executive Protection</h4>
              <p class="grey-900">Identify and report imposters and slander posts.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 iconbox iconbox-left">
            <i class="icon iconbox-icon wb-check"></i>
            <div class="iconbox-content">
              <h4 class="iconbox-title grey-900">On-site Security</h4>
              <p class="grey-900">Monitor office locations and events for security threats.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 iconbox iconbox-left">
            <i class="icon iconbox-icon wb-mobile"></i>
            <div class="iconbox-content">
              <h4 class="iconbox-title grey-900">Brand Protection</h4>
              <p class="grey-900">Build maps of counterfeit products and negative public sentiment.
              </p>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Feature -->

    <section class="section">
      <div class="container">

        <div class="row">
          <div class="col-lg-5 col-md-6 col-sm-12">
            <h3 class="section-title">Protect your people</h3>
            <h5 class="section-desc">Use keyword and location monitoring
              to protect your executives, employees and partners from threats both physical and digital.
            </h5>
            <ul class="text-left">
              <li>
                Use TrueID to verify contact identities and protect sensitive data
              </li>
              <li>
                Track global mentions of company and executive names, then sort them
                by authenticity and sentiment
              </li>
              <li>
                Run on-site security monitors for high profile events
              </li>
            </ul>
          </div>
          <div class="col-lg-offset-1 col-md-6 col-sm-12 hidden-xs">
            <img src="/img/home/industry-cs-1.jpg" alt="">
           </div>
        </div>

      </div>
    </section>


    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-12 pull-right">
            <h3 class="section-title">Boost Event Performance</h3>
            <h5 class="section-desc">Keep your people safe and your
              events running smoothly with the most comprehensive security and
              communication tools on the market.
            </h5>
            <ul class="text-left">
              <li>
                Gain instant awareness of logistics and hospitality issues
              </li>
              <li>
                Actively monitor both local and global data for threats
                coming from anywhere in the world
              </li>
              <li>
                Automatically analyze data for potential threats to public
                safety and sort results for instant flagging
              </li>
            </ul>
           </div>
          <div class="col-md-6 col-sm-12 pull-left hidden-xs">
            <img src="/img/home/industry-cs-2.jpg" alt="" class="pull-right">
           </div>
         </div>
       </div>
     </section>


     <section class="section">
       <div class="container">

         <div class="row">
           <div class="col-lg-5 col-md-6 col-sm-12">
             <h3 class="section-title">Globalize your brand</h3>
             <h5 class="section-desc">Set global keyword monitors
               to pinpoint discussions about your industry anywhere in the world.
             </h5>
             <ul class="text-left">
               <li>
                 Track competitors’ mentions for competitive insights
               </li>
               <li>
                 Monitor public sentiment about your brand and your industry
               </li>
               <li>
                 Identify and engage top influencers in your space
               </li>
             </ul>
           </div>
           <div class="col-lg-offset-1 col-md-6 col-sm-12 hidden-xs">
             <img src="/img/home/industry-cs-3.jpg" alt="">
            </div>
         </div>

       </div>
     </section>


     <% include ../home/components/request_demo %>
     <% include ../home/components/request_case_study %>

  </div>

<% include ../home/components/footer_home %>
<% include ../home/components/contact_form %>

<script src="/js/global/global.js"></script>
<script src="/js/index.js"></script>
<% include ../html/body_end %>
<% include ../html/html_end %>
