<% include ../html/html_begin %>
<% include ../html/head_begin %>
  <meta name="description" content="Cloud Pricing">
  <link rel="stylesheet" href="/css/index.css">
  <title>Cloud Pricing</title>
<% include ../html/head_end %>
<% include ../html/body_begin %>
<% include ../home/components/navbar %>
<% include ../home/components/menubar %>
  <div class="site-body">
    <!-- Hero -->
    <section class="site-hero hero hero-light padding-top-80"
    style="background-image:url(/img/home/pricing-cloud.jpg)">
      <div class="container">
        <div class="content">
          <h1>Choose The Right Plan For You </h1>
          <h3 class="white"><%= appdata.product %> provides flexible and transparent cloud plans
            that can accomodate your ever changing needs.</h3>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <!-- Pricing Table -->
    <section class="section bg-grey-300">
      <div class="container">
        <div class="pricing-table">

          <div class="pricing-column-five">
            <div class="pricing-header margin-0 padding-30 padding-bottom-60 bg-light-blue-300">
              <div class="pricing-price">
                <span class="pricing-amount white">Free</span>
                <span class="pricing-period"><br/>monthly</span>
              </div>
              <div class="pricing-title white">Trial</div>
            </div>
            <ul class="pricing-features">
              <li>
                <strong>1</strong> User</li>
              <li>
                <strong>50<br /></strong>live searches /mo<br /><strong>50<br /></strong>live searches /yr</li>
              <li>
                <strong>50,000<br /></strong>processing /mo<br /><strong>50,000<br /></strong>processing /yr</li>
              <li>
                <strong>50,000<br /></strong>storage /mo<br /><strong>50,000<br /></strong>storage /yr</li>
              <li>
                  <strong>No<br /></strong>API access</li>
            </ul>
            <div>
              <a href="#" class="btn btn-primary margin-vertical-15" data-target="#contactFormModal" data-toggle="modal">Request Demo</a><br /><br />
            </div>
          </div>

          <div class="pricing-column-five">
            <div class="pricing-header margin-0 padding-30 padding-bottom-60 bg-green-300">
              <div class="pricing-price">
                <span class="pricing-currency white">$</span>
                <span class="pricing-amount white">&nbsp;750</span>
                <span class="pricing-period"><br/>monthly</span>
              </div>
              <div class="pricing-title white">Lite</div>
            </div>
            <ul class="pricing-features">
              <li>
                <strong>2</strong> Users</li>
              <li>
                <strong>200<br /></strong> live searches /mo<br /><strong></strong> <strong>2400<br /></strong>live searches /yr</li>
              <li>
                <strong>125,000<br /></strong> processing /mo<br /><strong></strong> <strong>1.5 Million<br /></strong>processing /yr</li>
              <li>
                <strong>125,000<br /></strong> storage  /mo<br /><strong></strong> <strong>1.5 Million<br /></strong>storage /yr</li>
              <li>
                  <strong>No<br /></strong> API access</li>
            </ul>
            <div>
              <a href="#" class="btn btn-primary margin-vertical-15" data-target="#contactFormModal" data-toggle="modal">Request Demo</a><br /><br />
            </div>
          </div>

          <div class="pricing-column-five">
            <div class="pricing-header margin-0 padding-30 padding-bottom-60 bg-amber-300">
              <div class="pricing-price">
                <span class="pricing-currency white">$</span>
                <span class="pricing-amount white">2000</span>
                <span class="pricing-period"><br/>monthly</span>
              </div>
              <div class="pricing-title white">Basic  </div>
            </div>
            <ul class="pricing-features">
              <li>
                <strong>5</strong> Users</li>
              <li>
                <strong>500<br /></strong> live searches /mo<br /><strong>6000<br /></strong>live searches /yr
              </li>
              <li>
                <strong>250,000<br /></strong> processing /mo<br /><strong></strong> <strong>3 Million<br /></strong>processing /yr
              </li>
              <li>
                <strong>250,000<br /></strong> storage /mo<br /><strong></strong> <strong>3 Million<br /></strong>storage /yr</li>
              <li>
                <strong>No<br /></strong> API access</li>
            </ul>
            <div>
              <a href="#" class="btn btn-primary margin-vertical-15" data-target="#contactFormModal" data-toggle="modal">Request Demo</a><br /><br />
            </div>
          </div>

          <div class="pricing-column-five featured">
            <div class="pricing-header margin-0 padding-30 padding-bottom-60 bg-cyan-300">
              <div class="pricing-price">
                <span class="pricing-currency white">$</span>
                <span class="pricing-amount white">4300</span>
                <span class="pricing-period"><br/>monthly</span>
              </div>
              <div class="pricing-title white">Premium</div>
            </div>
            <ul class="pricing-features">
              <li>
                <strong>10</strong> Users</li>
              <li>
                <strong>1000<br /></strong> live searches /mo<br /><strong></strong> <strong>12000<br /></strong>live searches /yr</li>
              <li>
                <strong>500,000<br /></strong> processing /mo<br /><strong></strong> <strong>6 Million<br /></strong>processing /yr</li>
              <li>
                <strong>500,000<br /></strong> storage /mo<br /><strong></strong> <strong>6 Million<br /></strong>storage /yr</li>
              <li>
                <strong>Yes<br /></strong> API access</li>
            </ul>
            <div>
              <a href="#" class="btn btn-primary margin-vertical-15" data-target="#contactFormModal" data-toggle="modal">Request Demo</a><br /><br />
            </div>
          </div>

          <div class="pricing-column-five">
            <div class="pricing-header margin-0 padding-30 padding-bottom-60 bg-purple-300">
              <div class="pricing-price">
                <span class="pricing-currency white">$</span>
                <span class="pricing-amount white">7150</span>
                <span class="pricing-period"><br/>monthly</span>
              </div>
              <div class="pricing-title white">Pro</div>
            </div>
            <ul class="pricing-features">
              <li>
                <strong>25</strong> Users</li>
              <li>
                <strong>1500<br /></strong> live searches /mo<br /><strong></strong> <strong>18000<br /></strong>live searches /yr</li>
              <li>
                <strong>1 Million<br /></strong> processing /mo<br /><strong></strong> <strong>12 Million<br /></strong>processing /yr</li>
              <li>
                <strong>1 Million<br /></strong> storage /mo<br /><strong></strong> <strong>12 Million<br /></strong>storage /yr</li>
              <li>
                <strong>Yes<br /></strong> API access</li>
            </ul>
            <div>
              <a href="#" class="btn btn-primary margin-vertical-15" data-target="#contactFormModal" data-toggle="modal">Request Demo</a><br /><br />
            </div>
          </div>

          <div class="pricing-column-one">
            <div class="pricing-header margin-0 padding-30 padding-bottom-60 bg-pink-300">
              <div class="pricing-price">
                <span class="pricing-currency"></span>
                <span class="pricing-amount"></span>
                <span class="pricing-period"></span>
              </div>
              <div class="pricing-title white">Enterprise</div>
            </div>
            <ul class="pricing-features">
              <li>
                <strong>Custom</strong> Users</li>
              <li>
                <strong>Custom</strong> live searches</li>
              <li>
                <strong>Custom</strong> processing</li>
              <li>
                <strong>Custom</strong> storage</li>
              <li>
                <strong>Yes</strong> API access</li>
            </ul>
            <div>
              <a href="#" class="btn btn-primary margin-vertical-15" data-target="#contactFormModal" data-toggle="modal">Request Demo</a><br /><br />
            </div>
          </div>

          <div>
            Looking for On-premises options? Check our On-premises plans and pricing <a href="/pricing/on-premises">here</a>.
          </div>

        </div>
      </div>
    </section>
    <!-- End Pricing-table -->




     <% include ../home/components/request_demo %>
     <% include ../home/components/request_case_study %>

  </div>

<% include ../home/components/footer_home %>
<% include ../home/components/contact_form %>

<script src="/js/global/global.js"></script>
<script src="/js/index.js"></script>
<% include ../html/body_end %>
<% include ../html/html_end %>
