<div class="toolbar">
    <div class="toolbar-container-tools">
        <i class="icon md-view-headline btn-toolbar-list-view" title="List view"></i>
        <i class="icon md-grid btn-toolbar-grid-view" title="Grid view"></i>
        <i class="icon md-key btn-toolbar-leaderboard-view" title="Leaderboard view"></i>
        <i class="icon md-trending-up btn-toolbar-analytics-view" title="Analytics view"></i>
        <i class="icon md-chart btn-toolbar-trends-view" title="Trends view"></i>
        <i class="icon md-collection-plus btn-toolbar-custom-view" title="Custom view"></i>
        <i class="icon md-filter-list btn-toolbar-filter" title="Filter"></i>
        <i class="icon md-floppy btn-toolbar-save" title="Save"></i>
    </div>
</div>
