<!-- Menubar -->
<div class="site-menubar">
  <ul class="site-menu margin-top-10">
    <li class="site-menu-item has-sub">
      <a href="javascript:void(0)" data-slug="">
        <span class="site-menu-title">Products</span>
        <span class="site-menu-arrow"></span>
      </a>
      <ul class="site-menu-sub">
        <li class="site-menu-item">
          <a class="animsition-link" href="/products/cloud">
            <span class="site-menu-title"><%= appdata.product %> SaaS Cloud</span>
          </a>
        </li>
        <li class="site-menu-item">
          <a class="animsition-link" href="/products/on-premises">
            <span class="site-menu-title"><%= appdata.product %> On-Premises</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="site-menu-item has-sub">
      <a href="javascript:void(0)">
        <span class="site-menu-title">Solutions</span>
        <span class="site-menu-arrow"></span>
      </a>
      <ul class="site-menu-sub">
        <li class="site-menu-item">
          <a class="animsition-link" href="/solutions/account-impersonations">
            <span class="site-menu-title">Account Impersonations</span>
          </a>
        </li>
        <li class="site-menu-item">
          <a class="animsition-link" href="/solutions/brand-protection">
            <span class="site-menu-title">Brand Protection</span>
          </a>
        </li>
        <li class="site-menu-item">
          <a class="animsition-link" href="/solutions/crisis-management">
            <span class="site-menu-title">Crisis Management</span>
          </a>
        </li>
        <li class="site-menu-item">
          <a class="animsition-link" href="/solutions/customer-engagement">
            <span class="site-menu-title">Customer Engagement</span>
          </a>
        </li>
        <li class="site-menu-item">
          <a class="animsition-link" href="/solutions/cyber-security-support">
            <span class="site-menu-title">Cyber Security</span>
          </a>
        </li>
        <li class="site-menu-item">
          <a class="animsition-link" href="/solutions/event-security">
            <span class="site-menu-title">Event Security</span>
          </a>
        </li>
        <li class="site-menu-item">
          <a class="animsition-link" href="/solutions/executive-protection">
            <span class="site-menu-title">Executive Protection</span>
          </a>
        </li>
        <li class="site-menu-item">
          <a class="animsition-link" href="/solutions/public-safety">
            <span class="site-menu-title">Public Safety</span>
          </a>
        </li>
        <li class="site-menu-item">
          <a class="animsition-link" href="/solutions/scam-protection">
            <span class="site-menu-title">Scam Protection</span>
          </a>
        </li>
        <li class="site-menu-item">
          <a class="animsition-link" href="/solutions/security-operations-center">
            <span class="site-menu-title">Security Operations Centre</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="site-menu-item has-sub">
      <a href="javascript:void(0)">
        <span class="site-menu-title">Industries</span>
        <span class="site-menu-arrow"></span>
      </a>
      <ul class="site-menu-sub">
        <li class="site-menu-item">
          <a class="animsition-link" href="/industry/corporate-security">
            <span class="site-menu-title">Corporate Security</span>
          </a>
        </li>
        <li class="site-menu-item">
          <a class="animsition-link" href="/industry/emergency-response">
            <span class="site-menu-title">Emergency Response</span>
          </a>
        </li>
        <li class="site-menu-item">
          <a class="animsition-link" href="/industry/financial-services">
            <span class="site-menu-title">Financial Services</span>
          </a>
        </li>
        <li class="site-menu-item">
          <a class="animsition-link" href="/industry/healthcare">
            <span class="site-menu-title">Healthcare</span>
          </a>
        </li>
        <li class="site-menu-item">
          <a class="animsition-link" href="/industry/oil-energy-utilities-providers">
            <span class="site-menu-title">Oil, Energy and Utilities Providers</span>
          </a>
        </li>
        <li class="site-menu-item">
          <a class="animsition-link" href="/industry/political-campaigns">
            <span class="site-menu-title">Political Campaigns</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="site-menu-item has-sub">
      <a href="javascript:void(0)">
        <span class="site-menu-title">Features</span>
        <span class="site-menu-arrow"></span>
      </a>
      <ul class="site-menu-sub">
        <li class="site-menu-item">
          <a class="animsition-link" href="/features/location-based-monitoring">
            <span class="site-menu-title">Location based monitoring</span>
          </a>
        </li>
        <li class="site-menu-item">
          <a class="animsition-link" href="/features/trueid">
            <span class="site-menu-title">TrueId</span>
          </a>
        </li>
        <li class="site-menu-item">
          <a class="animsition-link" href="/features/keyword-based-monitoring">
            <span class="site-menu-title">Keyword based monitoring</span>
          </a>
        </li>
        <li class="site-menu-item">
          <a class="animsition-link" href="/features/sentiment-analysis">
            <span class="site-menu-title">Sentiment Analysis</span>
          </a>
        </li>
        <li class="site-menu-item">
          <a class="animsition-link" href="/features/streamer">
            <span class="site-menu-title">Streamer</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="site-menu-item has-sub">
      <a href="javascript:void(0)">
        <span class="site-menu-title">Pricing</span>
        <span class="site-menu-arrow"></span>
      </a>
      <ul class="site-menu-sub">
        <li class="site-menu-item">
          <a class="animsition-link" href="/pricing/cloud">
            <span class="site-menu-title">Cloud Pricing</span>
          </a>
        </li>
        <li class="site-menu-item">
          <a class="animsition-link" href="/pricing/on-premises">
            <span class="site-menu-title">On-Premises Pricing</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="site-menu-item has-sub">
      <a href="javascript:void(0)">
        <span class="site-menu-title">Partners</span>
        <span class="site-menu-arrow"></span>
      </a>
      <ul class="site-menu-sub">
        <li class="site-menu-item">
          <a class="animsition-link" href="/partners/mssp">
            <span class="site-menu-title">MSSP</span>
          </a>
        </li>
        <li class="site-menu-item">
          <a class="animsition-link" href="/partners/oem">
            <span class="site-menu-title">OEM</span>
          </a>
        </li>
        <li class="site-menu-item">
          <a class="animsition-link" href="/partners/resellers">
            <span class="site-menu-title">Reseller</span>
          </a>
        </li>
        <li class="site-menu-item">
          <a class="animsition-link" href="/partners/technology">
            <span class="site-menu-title">Technology</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="site-menu-item has-sub">
      <a href="/blog" target=_blank>
        <span class="site-menu-title">Blog</span>
      </a>
    </li>
    <li class="site-menu-item has-sub">
      <a href="javascript:void(0)">
        <span class="site-menu-title">Company</span>
        <span class="site-menu-arrow"></span>
      </a>
      <ul class="site-menu-sub">
        <li class="site-menu-item">
          <a class="animsition-link" href="/about">
            <span class="site-menu-title">About</span>
          </a>
        </li>
        <li class="site-menu-item">
          <a class="animsition-link" href="/contact">
            <span class="site-menu-title">Contact</span>
          </a>
        </li>
      </ul>
    </li>

    <% if (logged_in) { %>
    <li class="site-menu-item">
      <a href="/dashboard" target=_blank>
        <span class="btn btn-xs btn-primary site-menu-title">Dashboard</span>
      </a>
    </li>
    <% } else { %>
      <li class="site-menu-item">
        <a href="/dashboard/account/login">
          <span class="btn btn-xs btn-primary site-menu-title">
            <i class="wb-user margin-right-5"></i>Login</span>
        </a>
      </li>
    <% } %>



  </ul>
</div>
<!-- End Menubar -->
