<!-- Feature -->
<!--
<section class="section section-feature section-small text-center bg-grey-200">
  <div class="container container-fluid">
    <h3 class="section-title">Still curious?</h3>

    <p class="section-desc">Try a case study to find out how <%= appdata.product %> works in your industry.</p>
    <button type="button" class="btn btn-primary margin-bottom-20">Show me the goods!</button>

  </div>
</section>
-->
<!-- End Feature -->
