<!-- Feature -->
<section class="section section-feature section-small text-center bg-grey-100"
style="background:url(/img/home/home_pattern_grey.png);">
  <div class="container container-fluid">
    <h3 class="section-title">Fancy a tour?</h3>

    <p class="section-desc">Click below to schedule a one on one demo to find out if <%= appdata.product %> could be right for you</p>
    <a href="#" class="btn btn-success margin-bottom-20" data-target="#contactFormModal" data-toggle="modal">Schedule Demo</a>

  </div>
</section>
<!-- End Feature -->
