<div class="page-body page-list-view">
    <div class="post-item">
        <div class="post-avatar">
            <span class="avatar avatar-online">
                <img src="/assets/examples/images/grunt.png" alt="">
                <i></i>
            </span>
        </div>
        <div class="post-description">
            <div class="post-description-header">
                <div class="tag">@kieran.snalth</div>
                <div class="time"><i class="icon md-time"></i> 3d</div>
            </div>
            <div class="post-description-body">
                <div class="location">San Francisco CalTrain</div>
                <div class="description">Green juice bicycle rights YOLO typewriter. Blue bottle schlitz put a bird on it.</div>
                <iframe class="cover-iframe video" src="https://www.youtube.com/embed/aqz-KE-bpKQ?autoplay=0&amp;controls=0&amp;showinfo=0&amp;rel=0&amp;loop=1&amp;modestbranding=1&amp;wmode=transparent&amp;enablejsapi=1&amp;api=1"></iframe>
                <div class="social-button-container">
                    <i class="icon md-star"></i>
                    <i class="icon md-mail-reply"></i>
                    <i class="icon md-account-box-o"></i>
                    <i class="icon wb-more-horizontal"></i>
                </div>
            </div>
        </div>
    </div>
</div>