<div class="page-body page-map-view">
    <div class="container">
        <div class="header">
            <div class="analisis">
                <!--
                <button class="btn btn-round btn-sm bullying">Bullying 1000</button>
                <button class="btn btn-round btn-sm violence">Violence 787</button>
                <button class="btn btn-round btn-sm pll">Pll 666</button>
                <button class="btn btn-round btn-sm fraud">Fraud 78</button>
                <button class="btn btn-round btn-sm sexting">Sexting 67</button>
                <button class="btn btn-round btn-sm racism">Racism/Hate 2</button>
                -->
            </div>
            <div class="tool-buttons">
                <button type="button" class="btn btn-icon btn-round btn-draw-tools" title="Draw tools">
                    <i class="icon md-border-color icon-open"></i>
                    <i class="icon md-close icon-close"></i>
                </button>
                <div class="container-btn-draw-tools">
                    <button type="button" class="btn btn-icon btn-round btn-circle" data-toggle="tooltip" title="Circle">
                        <i class="icon md-circle-o"></i>
                    </button>
                    <button type="button" class="btn btn-icon btn-round btn-rectangle" data-toggle="tooltip" title="Rectangle">
                        <i class="icon md-square-o"></i>
                    </button>
                    <button type="button" class="btn btn-icon btn-round btn-polygon" data-toggle="tooltip" title="Polygon">
                        <i class="icon md-label-alt"></i>
                    </button>
                    <button type="button" class="btn btn-icon btn-round btn-remove-all" data-toggle="tooltip" title="Remove all">
                        <i class="icon md-delete"></i>
                    </button>
                </div>
                <button type="button" class="btn btn-icon btn-round btn-layers" title="Layers">
                    <i class="icon md-layers icon-open"></i>
                </button>
                <button type="button" class="btn btn-icon btn-round btn-default-location" title="Your location">
                    <i class="icon md-gps-dot"></i>
                </button>
                <button type="button" class="btn btn-icon btn-round btn-search" title="Search">
                    <i class="icon md-search"></i>
                </button>
            </div>
        </div>
        <button type="button" class="btn btn-sm btn-default sidebar-left-toggler text-center">
            <i class="icon md-caret-right"></i>
        </button>
    </div>
    <div id="google-map"></div>
</div>