<div class="sidebar-right">
    <div class="container-layers">
        <div class="header">
            <h4>Layers</h4>
            <i class="icon md-close pull-right btn-close-sidebar-right"></i> 
        </div>
        <div class="content">
            <div class="layer-item">
                <div class="checkbox-custom checkbox-primary">
                    <input type="checkbox" id="profile-location">
                    <label for="profile-location">Profile location</label>
                </div>
            </div>
            <div class="layer-item">
                <div class="checkbox-custom checkbox-primary">
                    <input type="checkbox" id="traffic">
                    <label for="traffic">Traffic</label>
                </div>
            </div>
            <div class="layer-item">
                <div class="checkbox-custom checkbox-primary">
                    <input type="checkbox" id="weather">
                    <label for="weather">Weather</label>
                </div>
            </div>
            <div class="layer-item">
                <div class="checkbox-custom checkbox-primary">
                    <input type="checkbox" id="video-cameras">
                    <label for="video-cameras">Video Cameras</label>
                </div>
            </div>
            <div class="layer-item">
                <div class="checkbox-custom checkbox-primary">
                    <input type="checkbox" id="events">
                    <label for="events">Events</label>
                </div>
            </div>
            <div class="layer-item">
                <div class="checkbox-custom checkbox-primary">
                    <input type="checkbox" id="points-interest">
                    <label for="points-interest">Points of interest</label>
                </div>
            </div>
            <div class="layer-item">
                <div class="checkbox-custom checkbox-primary">
                    <input type="checkbox" id="crime-data">
                    <label for="crime-data">Crime data</label>
                </div>
            </div>
            <div class="layer-item">
                <div class="checkbox-custom checkbox-primary">
                    <input type="checkbox" id="sexual-offender">
                    <label for="sexual-offender">Sexual offender data</label>
                </div>
            </div>
            <div class="layer-item">
                <div class="checkbox-custom checkbox-primary">
                    <input type="checkbox" id="custom">
                    <label for="custom">Custom</label>
                </div>
            </div>
        </div>
    </div>
    <div class="container-filters">
        <div class="header">
            <h4>Filters</h4>
            <i class="icon md-close pull-right btn-close-sidebar-right"></i> 
        </div>
        <div class="content">
            <div class="container-filter-dictionaries">
                <h5>Dictionaries</h5>
                <h5 class="btn-load-dictionaries">Load</h5>
            </div>
            <input type="text" class="form-control" data-plugin="tokenfield" id="filter-dictionaries"/>
            <div class="container-filter-saved-filters">
                <h5>Saved Filters</h5>
                <h5 class="btn-load-filters">Load</h5>
            </div>
            <input type="text" class="form-control" data-plugin="tokenfield" id="saved-filters"/>
            <select class="form-control date-select m-t-20" data-plugin="select">
                <option value='28'>Last 28 days</option>
            </select>
            <div class="container-threats">
                <h5>Threats</h5>
                <div class="filter-item">
                    <i class="icon md-circle" id="icon-threats-anger"></i>
                    <label class="m-l-20">Anger</label>
                    <input type="checkbox" class="pull-right" id="input-threats-anger">
                    <label class="pull-right m-r-20">1000</label>
                </div>
                <div class="filter-item">
                    <i class="icon md-circle" id="icon-threats-love"></i>
                    <label class="m-l-20">Love</label>
                    <input type="checkbox" class="pull-right" id="input-threats-love">
                    <label class="pull-right m-r-20">787</label>
                </div>
            </div>
            <div class="container-types">
                <h5>Types</h5>
                <div class="filter-item">
                    <i class="icon md-image" id="icon-types-photos"></i>
                    <label class="m-l-20">Photos</label>
                    <input type="checkbox" class="pull-right" id="input-types-photos">
                    <label class="pull-right m-r-20">1000</label>
                </div>
                <div class="filter-item">
                    <i class="icon md-assignment" id="icon-types-text"></i>
                    <label class="m-l-20">Text</label>
                    <input type="checkbox" class="pull-right" id="input-types-text">
                    <label class="pull-right m-r-20">787</label>
                </div>
                <div class="filter-item">
                    <i class="icon md-videocam" id="icon-types-videos"></i>
                    <label class="m-l-20">Videos</label>
                    <input type="checkbox" class="pull-right" id="input-types-videos">
                    <label class="pull-right m-r-20">787</label>
                </div>
            </div>
            <div class="container-networks">
                <h5>Networks</h5>
                <div class="filter-item">
                    <i class="icon bd-facebook" id="icon-networks-facebook"></i>
                    <label class="m-l-20">Facebook</label>
                    <input type="checkbox" class="pull-right" id="input-networks-facebook">
                    <label class="pull-right m-r-20">1000</label>
                </div>
                <div class="filter-item">
                    <i class="icon bd-twitter" id="icon-networks-twitter"></i>
                    <label class="m-l-20">Twitter</label>
                    <input type="checkbox" class="pull-right" id="input-networks-twitter">
                    <label class="pull-right m-r-20">787</label>
                </div>
                <div class="filter-item">
                    <i class="icon bd-instagram" id="icon-networks-instagram"></i>
                    <label class="m-l-20">Instagram</label>
                    <input type="checkbox" class="pull-right" id="input-networks-instagram">
                    <label class="pull-right m-r-20">78</label>
                </div>
            </div>
        </div>
    </div>
</div>