<div class="sidebar-left">
    <div class="filter-button-container text-center">
        <i class="icon md-time"></i>
        <i class="icon md-alert-triangle"></i>
        <i class="icon md-mood-bad"></i>
        <i class="icon md-image"></i>
        <i class="icon md-assignment"></i>
        <i class="icon md-videocam"></i>
    </div>
    <div class="social-feed-container">
        <div class="text-center social-feed-no-data">No Data is found</div>
    </div>
</div>