<div class="toolbar">
    <i class="icon md-circle icon-live"></i>
    <h4 class="label-live">Live</h4>
    <div class="toolbar-container-search">
        <div class="input-search search-address">
            <i class="input-search-icon wb-search"></i>
            <input type="text" class="form-control" id="search-address-box" placeholder="search locations">
        </div>
    </div>
    <div class="toolbar-container-tools">
        <i class="icon md-globe btn-toolbar-map-view"></i>
        <i class="icon md-view-headline btn-toolbar-list-view"></i>
        <i class="icon md-grid btn-toolbar-grid-view"></i>
        <i class="icon md-key btn-toolbar-leaderboard-view"></i>
        <i class="icon md-trending-up btn-toolbar-analytics-view"></i>
        <i class="icon md-chart btn-toolbar-trends-view"></i>
        <i class="icon md-collection-plus btn-toolbar-custom-view"></i>
        <i class="icon md-filter-list btn-toolbar-filter" title="Filter"></i>
        <i class="icon md-floppy btn-toolbar-save" title="Save"></i>
    </div>
</div>
