<!-- Core  -->
<script src="/assets/vendor/babel-external-helpers/babel-external-helpers.js"></script>
<script src="/assets/vendor/jquery/jquery.js"></script>
<script src="/assets/vendor/tether/tether.js"></script>
<script src="/assets/vendor/bootstrap/bootstrap.js"></script>
<script src="/assets/vendor/wow/wow.js"></script>
<script src="/assets/vendor/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="/assets/vendor/bootstrap-select/bootstrap-select.js"></script>
<script src="/assets/vendor/animsition/animsition.js"></script>
<script src="/assets/vendor/mousewheel/jquery.mousewheel.js"></script>
<script src="/assets/vendor/asscrollbar/jquery-asScrollbar.js"></script>
<script src="/assets/vendor/asscrollable/jquery-asScrollable.js"></script>
<script src="/assets/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>
<script src="/assets/vendor/waves/waves.js"></script>
<script src="/assets/vendor/typeahead-js/bloodhound.min.js"></script>
<script src="/assets/vendor/typeahead-js/typeahead.jquery.min.js"></script>
<script src="/assets/vendor/moment/moment.js"></script>
<script src="/assets/vendor/moment/moment-with-locales.js"></script>
<script src="/assets/vendor/moment/moment-timezone.min.js"></script>
<script src="/assets/vendor/moment/moment-timezone-with-data.min.js"></script>
<script src="/assets/vendor/formatter/jquery.formatter.js"></script>


<!-- Plugins -->
<script src="/assets/vendor/switchery/switchery.min.js"></script>
<script src="/assets/vendor/intro-js/intro.js"></script>
<script src="/assets/vendor/screenfull/screenfull.js"></script>
<script src="/assets/vendor/slidepanel/jquery-slidePanel.js"></script>
<script src="/assets/vendor/jvectormap/jquery-jvectormap.min.js"></script>
<script src="/assets/vendor/jvectormap/maps/jquery-jvectormap-world-mill-en.js"></script>
<script src="/assets/vendor/matchheight/jquery.matchHeight-min.js"></script>
<script src="/assets/vendor/peity/jquery.peity.min.js"></script>
<script src="/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>
<script src="/assets/vendor/asspinner/jquery-asSpinner.min.js"></script>
<script src="/assets/vendor/multi-select/jquery.multi-select.js"></script>
<script src="/assets/vendor/x-editable/bootstrap-editable.js"></script>
<script src="/assets/vendor/html5sortable/html.sortable.js"></script>
<script src="/assets/vendor/nestable/jquery.nestable.js"></script>
<script src="/assets/vendor/bootstrap-waitingfor/bootstrap-waitingfor.js"></script>
<script src="/assets/vendor/toastr/toastr.js"></script>
<script src="/assets/vendor/asprogress/jquery-asProgress.js"></script>
<script src="/assets/vendor/select2/select2.full.min.js"></script>
<script src="/assets/vendor/formvalidation/formValidation.min.js"></script>
<script src="/assets/vendor/formvalidation/framework/bootstrap4.min.js"></script>
<script src="/assets/vendor/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="/assets/vendor/asrange/jquery-asRange.min.js"></script>
<script src="/assets/vendor/bootbox/bootbox.js"></script>
<script src="/assets/vendor/dropify/dropify.min.js"></script>
<script src="/assets/vendor/slick-carousel/slick.js"></script>
<script src="/assets/vendor/raty/jquery.raty.js"></script>
<script src="/assets/vendor/icheck/icheck.min.js"></script>
<script src="/assets/vendor/bootstrap-tokenfield/bootstrap-tokenfield.min.js"></script>
<script src="/assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
<script src="/assets/vendor/bootstrap-table/bootstrap-table.min.js"></script>

<!-- Scripts -->
<script src="/assets/js/State.js"></script>
<script src="/assets/js/Component.js"></script>
<script src="/assets/js/Plugin.js"></script>
<script src="/assets/js/Base.js"></script>
<script src="/assets/js/Config.js"></script>
<script src="/assets/js/Section/Menubar.js"></script>
<script src="/assets/js/Section/GridMenu.js"></script>
<script src="/assets/js/Section/Sidebar.js"></script>
<script src="/assets/js/Section/PageAside.js"></script>
<script src="/assets/js/config/colors.js"></script>
<script src="/assets/js/config/tour.js"></script>
<script>
Config.set('assets', '/assets');
</script>

<!-- Plugins -->
<script src="/assets/js/Core.js"></script>
<script src="/assets/js/Site.js"></script>
<script src="/assets/js/Plugin/menu.js"></script>
<script src="/assets/js/Plugin/asscrollable.js"></script>
<script src="/assets/js/Plugin/slidepanel.js"></script>
<script src="/assets/js/Plugin/switchery.js"></script>
<script src="/assets/js/Plugin/matchheight.js"></script>
<script src="/assets/js/Plugin/jvectormap.js"></script>
<script src="/assets/js/Plugin/peity.js"></script>
<script src="/assets/js/Plugin/jquery-placeholder.js"></script>
<script src="/assets/js/Plugin/material.js"></script>
<script src="/assets/js/Plugin/select2.js"></script>
<script src="/assets/js/Plugin/bootstrap-select.js"></script>
<script src="/assets/js/Plugin/jt-timepicker.js"></script>
<script src="/assets/js/Plugin/html5sortable.js"></script>
<script src="/assets/js/Plugin/nestable.js"></script>
<script src="/assets/js/Plugin/tasklist.js"></script>
<script src="/assets/js/Plugin/nprogress.js"></script>
<script src="/assets/js/Plugin/toastr.js"></script>
<script src="/assets/js/Plugin/asselectable.js"></script>
<script src="/assets/js/Plugin/selectable.js"></script>
<script src="/assets/js/Plugin/table.js"></script>
<script src="/assets/js/Plugin/formatter.js"></script>
<script src="/assets/js/Plugin/asprogress.js"></script>
<script src="/assets/js/Plugin/datatables.js"></script>
<script src="/assets/js/Plugin/raty.js"></script>
<script src="/assets/js/Plugin/icheck.js"></script>
<script src="/assets/js/Plugin/bootstrap-tokenfield.js"></script>
<script src="/assets/js/Component/wow.js"></script>
<script src="/socket.io/socket.io.js"></script>

<!-- Lib -->
<script src="/lib/datatable/jquery.dataTables.min.js"></script>
<script src="/lib/datatable/dataTables.buttons.min.js"></script>
<script src="/lib/datatable/buttons.flash.min.js"></script>
<script src="/lib/datatable/jszip.min.js"></script>
<script src="/lib/datatable/pdfmake.min.js"></script>
<script src="/lib/datatable/vfs_fonts.js"></script>
<script src="/lib/datatable/buttons.html5.min.js"></script>
<script src="/lib/datatable/buttons.print.min.js"></script>
<script src="/lib/pdf/jszip.min.js"></script>
<script src="/lib/pdf/shieldui-all.min.js"></script>
<script src="/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="/lib/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script src="/lib/repeatable-fields/repeatable-fields.js"></script>
<script src="/lib/bootstrap-slider/bootstrap-slider.js"></script>

<!-- Global -->
<script src="/js/global/site-menu.js"></script>

<script src="/assets/examples/js/forms/advanced.js"></script>

</body>
