.nav-item.dropdown {
  width: 60px;
}

.logo-container {
  display: inline-flex;
}

.logo-container img {
  margin-top: 13px;
  margin-bottom: 10px;
  height: 40px;
}

.logo-container h5 {
  margin-left: 10px;
  margin-top: 20px;
  color: #FFFFFF;
  font-size: 20px;
}

.open-monitor {
  font-size: 24px;
}
