.filter-button-container .icon {
  margin: 7px;
  font-size: 20px;
}

.filter-button-container .icon:hover {
  color: #6c95f5;
}

.post-item {
  margin: 10px;
  display: flex;
}

.post-item:hover {
  cursor: pointer;
}

.post-item .post-avatar .avatar img {
  width: 40px;
  height: 40px;
  padding: 2px;
  border: 2px;
  border-style: solid;
  border-color: #7db7ff;
  border-radius: 50%;
}

.post-item .post-avatar .avatar i {
  left: 16px;
  bottom: -3px;
}

.post-item .post-avatar .line {
  height: 30px;
  background-color: #a2a0a0;
  width: 1px;
  margin-left: 20px;
}

.post-item .post-avatar .icon-content {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  border-radius: 10px;
}

.post-item .post-description {
  width: 100%;
  margin-left: 5px;
}

.post-item .post-description .post-description-header {
  color: white;
  padding: 10px;
}

.post-item .post-description .post-description-header .fullname {
  font-size: 16px;
  font-weight: bold;
}

.post-item .post-description .post-description-header .tag {
  margin-top: 5px;
  display: none;
  font-size: 14px;
  font-weight: bold;
}

.post-item .post-description .post-description-header .time {
  margin-top: 5px;
  font-size: 14px;
}

.post-item .post-description .post-description-header .time i {
  margin-right: 5px;
}

.post-item .post-description .post-description-body {
  margin-top: 5px;
}

.post-item .post-description .post-description-body .description {
  color: #9e3907;
  font-size: 14px;
  word-break: break-all;
}

.post-item .post-description .post-description-body .post {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.post-item .post-description .post-description-body .social-button-container .icon {
  margin-right: 10px;
}

.post-item .post-description .post-description-body .social-button-container .icon:hover {
  color: #6c95f5;
}

.post-item .post-description .post-description-body .social-button-container .icon.md-mail-reply {
  transform: scaleX(-1);
}

.social-feed-container {
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

.post-item-container {
  width: 300px;
  height: 200px;
}
