<% include ../html/html_begin %>
<% include ../html/head_begin %>
  <meta name="description" content="WeLink">
  <link rel="stylesheet" href="/css/pages/faq.css">
  <link rel="stylesheet" href="/css/home/home1.css">
  <title>Welink</title>
<% include ../html/head_end %>
<% include ../html/body_begin %>
<% include ../home/components/navbar %>
<% include ../home/components/menubar %>

  <!-- Hero -->
  <section class="site-hero hero text-center margin-top-80">
    <div class="container">
      <div class="content w-full">
        <h1 class="text-uppercase">faq</h1>
        <p class="lead">Select one of the above questions to find out it’s answer. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit. Nunc congue neque felis,
          non elementum metus. Duis laoreet ante vitae tortor imperdiet euismod.
          Morbi mollis pharetra consequat. Curabitur a est purus.</p>
        <div class="row wow fadeIn" data-wow-delay="50ms">
          <div class="col-sm-4">
            <a href="javascript:void(0)">Pre Sale Questions</a>
          </div>
          <div class="col-sm-4">
            <a href="javascript:void(0)">Existing Customer Questions</a>
          </div>
          <div class="col-sm-4" data-wow-delay="250ms">
            <a href="javascript:void(0)">Knowledge Base</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero -->

  <div class="site-body">

    <!-- Question -->
    <section class="section section-question section-small section-gray">
      <div class="container">
        <!-- FAQ 1 -->
        <div class="question-group" id="faq1">
          <h3>Knowledge Base</h3>
          <div role="tablist" aria-multiselectable="true" id="accordion2" class="panel-group panel-group-simple panel-group-continuous">

            <!-- Question 1 -->
            <div class="panel">
              <div role="tab" id="question-1" class="panel-heading">
                <a data-parent="#accordion2" href="#answer-1" data-toggle="collapse" aria-expanded="false"
                aria-controls="answer-1" class="panel-title">
                What is Lorem ipsum?
              </a>
              </div>
              <div role="tabpanel" aria-labelledby="question-1" id="answer-1" class="panel-collapse collapse">
                <div class="panel-body">
                  Lorem ipsum Voluptate ad et culpa ad eu ex nulla voluptate nostrud consectetur
                  nisi nisi incididunt voluptate enim labore occaecat qui laboris
                  id sunt aute mollit reprehenderit aute non dolor labore tempor
                  Duis ex deserunt proident elit enim culpa labore fugiat labore
                  velit ut ea aute Ut laboris culpa consectetur ex tempor cillum
                  consectetur enim do aute ut commodo mollit aute esse enim fugiat
                  quis Excepteur enim in qui nostrud et ad nulla tempor cupidatat
                  fugiat proident ut proident elit cupidatat laborum in fugiat
                  amet elit mollit sit commodo reprehenderit enim minim sit Duis
                  laboris dolor velit sed dolore consequat ea magna ut laborum
                  incididunt nostrud do non nisi minim anim dolor anim ex adipisicing
                  ut ex Ut cupidatat consectetur ut magna est minim proident occaecat
                  aliquip consectetur adipisicing dolor ea nulla dolore commodo
                  reprehenderit velit nulla eu dolor proident aliqua elit est aliqua
                  labore eiusmod.
                </div>
              </div>
            </div>

            <!-- End Question 1 -->

            <!-- Question 2 -->
            <div class="panel">
              <div role="tab" id="question-2" class="panel-heading">
                <a data-parent="#accordion2" href="#answer-2" data-toggle="collapse" aria-expanded="false"
                aria-controls="answer-2" class="panel-title">
                How much does it cost to use Lorem ipsum?
              </a>
              </div>
              <div role="tabpanel" aria-labelledby="question-2" id="answer-2" class="panel-collapse collapse">
                <div class="panel-body">
                  Laborum commodo cupidatat adipisicing aliqua qui in dolore occaecat labore nisi
                  occaecat enim dolor sit exercitation sit Duis minim tempor est
                  aliquip sit nostrud ea ea sit nostrud dolore cillum exercitation
                  officia sunt pariatur consequat velit id nulla id Duis minim
                  sunt sint culpa amet veniam commodo nisi reprehenderit tempor
                  irure sunt enim in eu reprehenderit anim nulla tempor pariatur
                  nisi fugiat consectetur sint deserunt elit voluptate in in labore
                  eiusmod nostrud eiusmod est ullamco sit qui ut ut velit in veniam
                  in Ut nulla pariatur reprehenderit deserunt laboris sed cupidatat
                  est dolore adipisicing Duis in ut dolore dolor sunt aute ut Excepteur
                  sint consectetur.
                </div>
              </div>
            </div>

            <!-- End Question 2 -->

            <!-- Question 3 -->
            <div class="panel">
              <div role="tab" id="question-3" class="panel-heading">
                <a data-parent="#accordion2" href="#answer-3" data-toggle="collapse" aria-expanded="false"
                aria-controls="answer-3" class="panel-title">
                What is the lorem ipsum pariatur?
              </a>
              </div>
              <div role="tabpanel" aria-labelledby="question-3" id="answer-3" class="panel-collapse collapse">
                <div class="panel-body">
                  Lorem ipsum Esse pariatur sit reprehenderit non culpa sint ullamco qui in aliquip
                  enim exercitation laborum ut eu voluptate exercitation Duis dolore
                  amet pariatur id occaecat incididunt deserunt nulla esse proident.
                </div>
              </div>
            </div>

            <!-- End Question 3 -->

            <!-- Question 4 -->
            <div class="panel">
              <div role="tab" id="question-4" class="panel-heading">
                <a data-parent="#accordion2" href="#answer-4" data-toggle="collapse" aria-expanded="false"
                aria-controls="answer-4" class="panel-title">
                Lorem ipsum commodo adipisicing sunt ad aliqua velit nulla?
              </a>
              </div>
              <div role="tabpanel" aria-labelledby="question-4" id="answer-4" class="panel-collapse collapse">
                <div class="panel-body">
                  Lorem ipsum Do cupidatat in culpa magna voluptate ullamco et anim nulla cupidatat
                  dolor culpa consequat quis dolor eu aliqua Ut eiusmod ullamco
                  sint reprehenderit commodo veniam ea irure sit reprehenderit
                  sunt sed sed proident ea incididunt esse cillum cupidatat officia
                  Duis.
                </div>
              </div>
            </div>

            <!-- End Question 4 -->
          </div>
        </div>
        <!-- End FAQ 1 -->

        <!-- FAQ 2 -->
        <div class="question-group" id="faq2">
          <h3>Pre Sale Questions</h3>
          <div role="tablist" aria-multiselectable="true" id="accordion" class="panel-group panel-group-simple panel-group-continuous">

            <!-- Question 5 -->
            <div class="panel">
              <div role="tab" id="question-5" class="panel-heading">
                <a data-parent="#accordion" href="#answer-5" data-toggle="collapse" aria-expanded="false"
                aria-controls="answer-5" class="panel-title">
                Can I exercitation occaecat voluptate duis ut dolore?
              </a>
              </div>
              <div role="tabpanel" aria-labelledby="question-5" id="answer-5" class="panel-collapse collapse">
                <div class="panel-body">
                  Consecutus sicine hominum, artem conclusionemque patientia, omni fuerit intemperantiam
                  efficeretur phaedrum minime obiecta constituam, motus mandamus
                  perfunctio contra, imagines exquisitis reiciat.
                </div>
              </div>
            </div>

            <!-- End Question 5 -->

            <!-- Question 6 -->
            <div class="panel">
              <div role="tab" id="question-6" class="panel-heading">
                <a data-parent="#accordion" href="#answer-6" data-toggle="collapse" aria-expanded="false"
                aria-controls="answer-6" class="panel-title">
                How do lorem ipsum quis magna magna?
              </a>
              </div>
              <div role="tabpanel" aria-labelledby="question-6" id="answer-6" class="panel-collapse collapse">
                <div class="panel-body">
                  Pluribus horum laetamur forensibus investigandi gravissimis quaeque possumus copulationesque.
                  Sapientium interdictum, secutus servata expressas reici. Dixerit
                  dixerit tantis conscientiam arbitramur reprehensa traditur propositum
                  locos remotis, metus continent maledici attico sermo iucundius
                  gerendarum. Bonarum incommoda afferrent iisque graeca perdiscere
                  munere recordatione nos sapiens, perspexit, oderit nominata.
                </div>
              </div>
            </div>

            <!-- End Question 6 -->

            <!-- Question 7 -->
            <div class="panel">
              <div role="tab" id="question-7" class="panel-heading">
                <a data-parent="#accordion" href="#answer-7" data-toggle="collapse" aria-expanded="false"
                aria-controls="answer-7" class="panel-title">
                How do I set up lorem ipsum?
              </a>
              </div>
              <div role="tabpanel" aria-labelledby="question-7" id="answer-7" class="panel-collapse collapse">
                <div class="panel-body">
                  Acute ennius fuisset facile plena quem possim tribus antipatrum moveat, praestabiliorem
                  geometria inportuno privamur, remissius habemus desperantes,
                  nullas quas terrore modum uberius homine adiuvet, dissentio iudicabit
                  ac, nullus molita foedus num. Circumcisaque nulla aut etenim
                  doceat pecunias afferrent infinitis, propterea repellat epularum
                  inveneris dissentiet meminerunt malivoli gloriosis, faciunt petat
                  conscientia, nesciunt logikh fortunae, primos expedire aliquo
                  putet aptissimum officiis naturalem.
                </div>
              </div>
            </div>

            <!-- End Question 7 -->
          </div>
        </div>
        <!-- End FAQ 2 -->

        <!-- FAQ 3 -->
        <div class="question-group" id="faq3">
          <h3>Existing Customer Questions</h3>
          <div role="tablist" aria-multiselectable="true" id="accordion1" class="panel-group panel-group-simple panel-group-continuous">

            <!-- Question 8 -->
            <div class="panel">
              <div role="tab" id="question-8" class="panel-heading">
                <a data-parent="#accordion1" href="#answer-8" data-toggle="collapse" aria-expanded="false"
                aria-controls="answer-8" class="panel-title">
                How can I lorem ipsum elit commodo?
              </a>
              </div>
              <div role="tabpanel" aria-labelledby="question-8" id="answer-8" class="panel-collapse collapse"
              style="">
                <div class="panel-body">
                  Lorem ipsum Est dolore eiusmod sunt fugiat sunt minim qui ullamco incididunt mollit.
                </div>
              </div>
            </div>

            <!-- End Question 8 -->

            <!-- Question 9 -->
            <div class="panel">
              <div role="tab" id="question-9" class="panel-heading">
                <a data-parent="#accordion1" href="#answer-9" data-toggle="collapse" aria-expanded="false"
                aria-controls="answer-9" class="panel-title collapsed">
                Where can I lorem ipsum efficere sed ullamco?
              </a>
              </div>
              <div role="tabpanel" aria-labelledby="question-9" id="answer-9" class="panel-collapse collapse"
              aria-expanded="false">
                <div class="panel-body">
                  Solitudo per mox coerceri efficere vetuit exhorrescere, silano sitisque efficere
                  iniurias adhaesiones agam dolores ponit multa. Exiguam ii genus
                  libidinosarum scribere, hinc ipsius severitatem falsis desistemus
                  praeteritas cogitemus delectu terentii, pedalis angusta scripserit
                  sit iucundum mirari ipsi parta. Maluisti emolumento solido gravissimis
                  amicitia ornatum eademque scribi terentianus tollit, tranquillitatem
                  intellegentium persequeris ordiamur declinationem optio detrimenti
                  inclusae, augendas semper.
                </div>
              </div>
            </div>

            <!-- End Question 9 -->

            <!-- Question 10 -->
            <div class="panel">
              <div role="tab" id="question-10" class="panel-heading">
                <a data-parent="#accordion1" href="#answer-10" data-toggle="collapse" aria-expanded="false"
                aria-controls="answer-10" class="panel-title collapsed">
                Do I have to torquate artem irure et quis dolor?
              </a>
              </div>
              <div role="tabpanel" aria-labelledby="question-10" id="answer-10" class="panel-collapse collapse"
              aria-expanded="false">
                <div class="panel-body">
                  Exeamus, frustra, imperitorum torquate artem efficeret talem vivendi, primum libidinem
                  virtus apte incurrunt, appetendum utramque, oderis. Homines traditur
                  loquerer fugiat sequitur gravitate nisi recordatione efflorescere.
                  Primisque hostis prorsus praeda, solitudo labefactetur miserum
                  chrysippi afficit deterret ipsam.
                </div>
              </div>
            </div>

            <!-- End Question 10 -->
          </div>
        </div>
        <!-- End FAQ 3 -->
      </div>
    </section>
    <!-- End Question -->
    <!-- Content-5 -->
    <section class="section section-small text-center">
      <div class="container">
        <h3 class="section-title">If you have any questions, don't hesitate to ask us.</h3>
        <p class="section-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam bonum ex quo
          appellatum sit, nescio, praepositum ex eo credo, quod praeponatur aliis.
          An eum discere ea mavis, quae cum plane perdidiceriti nihil sciat? Tenesne
          igitur, inquam, Hieronymus Rhodius quid dicat esse summum bonum, quo
          putet omnia referri oportere? Omnia contraria, quos etiam insanos esse
          vultis. Duo Reges. </p>

        <button type="button" class="btn btn-primary btn-round margin-top-60 margin-bottom-20 wow bounceIn">Contact us</button>
      </div>
    </section>
    <!-- End Content-5 -->

  </div>


  <!-- Footer -->
  <footer class="footer footer-simple">
    <div class="footer-detial">
      <div class="container">
        <div class="footer-arrow"></div>
        <img src="../../assets/images/logo-blue.png" alt="">
        <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit.Memini vero.</p>
        <p class="copyright">&copy; Copyright <%= appdata.product %> | theme by <%= appdata.product %></p>
        <div class="social">
          <a class="icon bd-facebook" href="javascript:void(0)"></a>
          <a class="icon bd-twitter" href="javascript:void(0)"></a>
          <a class="icon bd-linkedin" href="javascript:void(0)"></a>
          <a class="icon bd-google-plus" href="javascript:void(0)"></a>
          <a class="icon bd-dribbble" href="javascript:void(0)"></a>
        </div>
      </div>
    </div>
    <div class="footer-general">
      <div class="container">
        <div class="footer-arrow"></div>
        <p class="copyright">
          <span> &copy; 2015 <%= appdata.product %></span>
        </p>
      </div>
    </div>
  </footer>
  <!-- End Footer -->
  <script src="/js/home/home1.js"></script>
<% include ../html/body_end %>
<% include ../html/html_end %>
