.toolbar {
    background-color: #0c84e4;
    text-align: center;
    .toolbar-container-tools {
        font-size: 24px;
        color: #fff;
        i {
            cursor: pointer;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}