.member-profile-item {
  padding: 0px;
  list-style: none;
}

.member-profile-container {
  border: 1px;
  border-style: solid;
  border-color: gainsboro;
  padding: 10px;
}

.member-profile-avatar {
  width: 40px;
  height: 40px;
}

.member-profile-content {
  margin-left: 50px;
}

.member-profile-position {
  border-bottom-width: 0px;
}

.member-profile-position:hover {
  cursor: pointer;
}

.member-profile-btn-deactivate {
  display: inline;
}

.member-profile-btn-deactivate:hover {
  cursor: pointer;
}

.member-profile-btn-activate {
  display: inline;
}

.member-profile-btn-activate:hover {
  cursor: pointer;
}

.member-profile-btn-delete {
  display: inline;
}

.member-profile-btn-delete:hover {
  cursor: pointer;
}
