<% include ../../../html/html_begin %>
    <% include ../../../html/head_begin %>
        <meta name="description" content="bootstrap admin template">
        <title>Settings</title>
        <link rel="stylesheet" href="/css/dashboard/settings/apps/index.css">
    <% include ../../../html/head_end %>

    <body class="animsition page-aside-fixed page-aside-left">
        <% include ../../../components/navbar %>
        <% include ../../../components/site_menubar %>
        <% include ../../../components/site_gridmenu %>
        <!-- Page -->
        <div class="page">
            <% include ../component/sidebar.ejs %>
            <div class="page-main">
                <div class="page-content">
                    <div class="panel">
                        <div class="panel-body">
                            <a class="btn btn-primary btn-block m-b-20" href="/dashboard/settings/apps/create">
                                Create a new app
                            </a>
                            <table class="table table-account-apps">
                                <thead>
                                    <tr>
                                        <td class="cell-60 responsive-hide">Icon</td>
                                        <td class="cell-200">Title</td>
                                        <td class="cell-120">Rating</td>
                                        <td class="cell-60">Installs</td>
                                        <td class="cell-100">Author</td>
                                        <td class="cell-100"></td>
                                    </tr>
                                <thead>
                                <tbody>
                                </tbody>
                            </table>
                            <h4>Public applications</h4>
                            <div class="public-apps">
                                <form autocomplete="off" id="search_form">
                                    <div class="input-search clearfix">
                                        <input type="text" class="form-control search-apps" placeholder="Search...">
                                        <button type="submit" class="input-search-btn">
                                            <i class="icon md-search"></i>
                                        </button>
                                    </div>
                                </form>
                                <table class="table table-hover datatable table-striped w-full table-public-apps">
                                    <thead>
                                        <tr>
                                            <th class="w-60">Icon</th>
                                            <th class="w-200">Title</th>
                                            <th class="w-120">Rating</th>
                                            <th class="w-60">Installs</th>
                                            <th class="w-100">Author</th>
                                            <th class="w-100"></th>                                                                                        
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--End Page-->
    <% include ../../../html/body_end %>

    <script src = "/js/dashboard/settings/apps/index.js"></script>
    
<% include ../../../html/html_end %>